/* CSS declarations go here */
html, body {
    height: 100%;
    margin: 0 0 0 0;
}

p {
    margin:0;
    padding:0;
    border:0;
}

#render-target {
    height: 100%;
    overflow-x: hidden;
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.input-container {
    padding: 10px 10px 10px 10px;
}

.new-note-button {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0;
    width: 56px;
    height: 56px;
    background: none;
    cursor: pointer;
}

.new-note-button:focus {
    outline: none;
}

.new-note-button:active {
    padding: 8px 13px 6px 13px;
}

.new-note-button-image {
    width: 56px;
    height: 56px;
}

.note-book {
    width: 100%;
    min-width: 1170px;
}

.note-book-side-bar {
    cursor: pointer;
    position: fixed;
    width: 350px;
    height:100vh;
    left: 0;
    right: 0;
    top: 0;
    overflow-y: scroll;
    border:1px solid #ececec;
}

.note-book-content {
    min-width: 770px;
    margin: 0 0 0 350px;
    padding: 0 25px 0 25px;
    overflow-y: scroll;
    left: 0;
    top: 0;
    height:100vh;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.note-row-background:hover {
    background-color: #21ce99;
}

.note-row-background:hover .note-row {
    border:0;
}

.note-row-background:hover .note-row-content, .note-row-background:hover .note-row-title {
    color: #ffffff;
}

.note-row {
    border-color: #ececec;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 20px 0 20px 0;
    margin: 0 20px 0 20px;
}

.note-row-title {
    font-size: 16px;
    color: #21ce99;
    padding: 0 0 10px 0;
}

.note-row-content {
    color: #878787;
    font-size: 14px;
    height: 48px;
    overflow-wrap: break-word;
}

.note-book-top-bar {
    border-color: #ececec;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 10px 0 10px 0;
    height: 75px;
}

.note-book-logo {
    width: 56px;
    height: 56px;
    background-size: 56px 56px;
    margin: 10px 0 0 0;
    float: left;
}

.note-book-brand {
    color: #21ce99;
    font-size: 28px;
    width: 150px;
    float: left;
    margin: 20px 0 0 10px;
}

.note-book-toolbar {
    height: 100%;
    float: right;
}

.note-detail-title {
    padding: 10px 0 10px 0;
}

.note-detail-title-input {
    color: #2dbe60;
    font-size: 28px;
    background: none;
    border: none;
    outline: none;
    padding: 0 0 0 0;
    width: 100%;
}

.note-detail-content {
    height: 100%;
    color: #383838;
    font-size: 16px;
    padding: 20px 0 20px 0;
}

.note-detail-content.mce-edit-focus {
    outline: 0;
}

.null-state-graphics {
    background-image: url("/images/nuts.png");
    margin: auto;
    height: 450px;
    width: 450px;
}

.null-state-title {
    color: #9D9FA2;
}

.show-preview-button-container {
    display: inline-block;
    float: right;
    padding: 0 0 10px 0;
}

.show-preview-button {
    width: 60px;
    margin: 0 0 0 10px;
}